<p id="notice"><%= notice %></p>


<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th>#</th>
    <th>Title</th>
    <th>Category</th>
    <th>Created At</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @articles.each_with_index do |article, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= article.title %></td>
        <td><%= article.category.name %></td>
        <td><%= raw timeago(article.created_at) %></td>
        <td><%= link_to 'Show', article %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
