<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category.name %>
</p>

<p>
  <strong>Text:</strong>
  <section class="article-body">  
   <%= raw @article.body_html %>
  </section>
</p>


<% if can? :update, @article %>
    <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>


<% if can? :destroy, @article %>
    <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back', articles_path %>
